@import "tailwindcss";

@theme {
  /* container */
  --container-wide: 1720px;
  --container-main: 1410px;

  /* font */
  --font-plus-jakarta-sans: var(--font-jakartaSans);

  /* shadow */
  --shadow-drop-down: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
}
